.content {
background-color: #315a5d;
width: 200x; 
height: 250px;
float: left;
}

.parent{
height:260px;
width: 560px;
margin: auto;
top: 0px;
right: 0px;
left: 0px;
bottom: 0px;
position: absolute;
}

.filler{
width: 10px;
height: 250px;
float: left;
}


a {
color: #99b4b9;
text-decoration:none;
}
