@font-face {
    font-family:IPAMincho;
    src: url("/ipam.ttf") format('truetype');
}

ul{
list-style-type: none;
text-align: center;
padding-left: 0;
}


.content {
background-color: #4b746e;
width: 200px; 
height: 250px;
float: left;
}

.parent{
height:260px;
width: 850px;
margin: auto;
top: 0px;
right: 0px;
left: 0px;
bottom: 0px;
position: absolute;
}

.filler{
width: 10px;
height: 250px;
float: left;
}

h1{
text-align: center;
color: #99b4b9;
font-family: IPAMincho;
}

h2{
text-align: center;
color: #99b4b9;
font-family: IPAMincho;
}

a {
color: #99b4b9;
text-decoration:none;
font-family: IPAMincho;
}
