.content {
background-color: #315a5d;
width: 202; 
height: 250;
display: inline-block;
}

.parent{
height:260px;
width: 610px;
margin: auto;
top: 0px;
right: 0px;
left: 0px;
bottom: 0px;
position: absolute;
border: 1px solid;
text-align:center;
}


a {
color: #99b4b9;
text-decoration:none;
}
